# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=db_pimora

# Session & JWT (kalau nanti dipakai)
SESSION_SECRET=change-this-long-random
SECRET_KEY=change-this-too

# Base URL aplikasi (untuk link verifikasi)
APP_BASE_URL=http://localhost:8000

# SMTP (contoh Gmail - pakai App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=riskazahara43@gmail.com
SMTP_PASS=xoqdxoeafpbnhkem
SMTP_FROM="PIMORA STREAM <riskazahara43@gmail.com>"